<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <h3>Create New Chat</h3>
    <form method="post" action="/chats">
        <input placeholder="From" name="from"></br></br>
        <textarea placeholder="Message" name="message"></textarea> </br>  </br>     
        <input placeholder="To" name="to"> </br></br>
        <button>Send</button>   </br>    

    </form>
</body>
</html>